<!-- 
<div class="konten">
  
  <nav class="navbar navbar-expand-lg navbar-light " style="padding: 20px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #fff;">NGENTOP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #fff;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active"style="color: #fff;" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"style="color: #fff;" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"style="color: #fff;" href="#">Pricing</a>
        </ul>
        <form class="d-flex">
          <button mat-button style="margin-right: 20px;color: #fff;border-radius: 0;">Basic</button>
          <button mat-flat-button style="background-color:#d19646; color:#fff; border-radius: 0;">Register</button>
        </form>
      </div>
    </div>
  </nav>
  <body style="background-color: #000; color: #fff;">
    <div class="col-12" style="padding: 100px;">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div style="font-size: 58px;
          text-align: center; font-weight: bold"> 
            We Helping you find your ideal home with
          </div>
          <div style="font-size: 58px;
          text-align: center; color: #d19646; font-weight: bold"> 
            affordable price
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div style="position: relative;width: 60%;
        margin: 0 auto;">
          <mat-card style="border-radius: 0;">
            <div class="row">
              <div class="col-3" style="text-align: center;">
                <mat-label for="cars" style="padding-right: 47px;">Location</mat-label>
                <form action="/action_page.php" style="border: none;">
                  <select name="cars" id="cars" style="border: none; font-size: 20px;color:#d19646;">
                    <option value="volvo">London</option>
                    <option value="saab">Japanese</option>
                    <option value="opel">Americano</option>
                  </select>
                </form>             
              </div>
              <div class="col-3" style="text-align: center;">
                <mat-label for="cars" style="padding-right: 50px;">Type</mat-label>
                <form action="/action_page.php">
                  <select name="cars" id="cars" style="border: none; font-size: 20px;color:#d19646;">
                    <option value="volvo">Small</option>
                    <option value="saab">Medium</option>
                    <option value="opel">Large</option>
                  </select>
                </form>
              </div>
              <div class="col-3" style="text-align: center;">                
                <mat-label for="cars" style="padding-right: 40px;">Price</mat-label>
                <form action="/action_page.php">
                  <select name="cars" id="cars" style="border: none; font-size: 20px;color:#d19646;">
                    <option value="volvo">$5000</option>
                    <option value="saab">$15000</option>
                    <option value="opel">$25000</option>
                  </select>
                </form>
              </div>
              <div class="col-3">
                <button mat-flat-button style="background-color:#d19646; color:#fff; width: 85%; height: 47px;border-radius: 0;">Search</button>
              </div>
            </div>
          </mat-card>
      </div>
      <div>
        <img src="../assets/gambar/bg.jpg" alt="" class="img1">
      </div>
    </div>
    <div style="margin: 30px;"></div>
    <div class="col-12">
      <div style="padding: 50px;">
        <div class="row tngh" style="margin-bottom: 15vh;">
          <div class="tngh1" style="padding:30px;">  
            <div style="font-size: 50px;font-weight: bold;margin-bottom: 10px;letter-spacing: 2px">
              We are Trusted <br> 
              Property Agent <br>
                 in London
            </div> 
            <div style="line-height: 25px; font-size: 12px;">
              we are fresh,professional and efficient service from an  <br>
               experienced team,with a wealth of local knowledge
            </div>
          </div> 
          <div class="tngh1" style="padding:30px;">  
            <div>
              <div class="col-12">
                <div class="row">
                  <div class="col-6" style="margin-bottom: 80px;">
                    <div style="font-size: 50px;font-weight: bold; ">
                      69K
                    </div>
                    <div>
                      Houses that have <br>
                      already been sold
                    </div>
                  </div>
                  <div class="col-6">
                    <div style="font-size: 50px;font-weight: bold;">
                      97%
                    </div>
                    <div>
                      Our clients are satisfied <br>
                      with their new home
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-6" style="margin-bottom: 80px;">
                    <div style="font-size: 50px;font-weight: bold; ">
                      97%
                    </div>
                    <div>
                      Our clients are satisfied <br>
                      with their new home
                    </div>
                  </div>
                  <div class="col-6">
                    <div style="font-size: 50px;font-weight: bold;">
                      97%
                    </div>
                    <div>
                      Our clients are satisfied  <br>
                      with their new home
                    </div>
                  </div>
                </div>
              </div>
            </div>          
          </div>         
        </div>
        <div style="margin-top: 30px;margin-bottom: 40px;">
          <div>
            <img src="../assets/gambar/bg3.jpg" alt="" class="img2">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" style="background-color: #1f1f1f;">
      <div style="padding: 100px;">
        <div class="txt1">
          What Our Customer <br>
            are Saying
        </div>
        <div class="row">
          <div class="col-5">
            <div style=" margin-bottom: 10px;
            line-height: 25px;">
              Great Services with Good Quality <tr>
                Photograpers PhotoScape
            </div>
            <div style="line-height: 20px;
            font-size: 12px;">
              I trully have nothing but the highest praise and<tr>
              appreciation for all that you did for us. Saving me on the <tr>
              video montage projection was huge, and even more <tr>
              important the amazing pictures  
            </div>
            <div style="font-size:14px;font-weight: bold; margin-top: 20px;">
              Pricilia Makalew
            </div>
            <div style="line-height: 20px;
            font-size: 12px;">
              Client
            </div>
          </div>
          <div class="col-2">
            <div style="border-left: 2px solid white;
            height: 100%;"></div>
          </div>
          <div class="col-5">
            <div style=" margin-bottom: 10px;
            line-height: 25px;">
              Great Services with Good Quality <tr>
                Photograpers PhotoScape
            </div>
            <div style="line-height: 20px;
            font-size: 12px;">
              I trully have nothing but the highest praise and<tr>
              appreciation for all that you did for us. Saving me on the <tr>
              video montage projection was huge, and even more <tr>
              important the amazing pictures  
            </div>
            <div style="font-size:14px;font-weight: bold; margin-top: 20px;">
              Pricilia Makalew
            </div>
            <div style="line-height: 20px;
            font-size: 12px;">
              Client
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md" style="margin-bottom: 30px;">
          <div style="font-size: 20px;">
            NGENTOP
          </div>
          <div style="line-height: 20px;
          font-size: 12px;">
            Hire a professional and talented <br>
            freelancer around the world
          </div>
        </div>
        <div class="col-6 col-md">
          <div style="font-size: 14px;
          font-weight: bold;">For Clients</div>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">How To Hire</a></li>
            <li><a class="link-secondary" href="#">Talent Marketplace</a></li>
            <li><a class="link-secondary" href="#">Project Catalog</a></li>
            <li><a class="link-secondary" href="#">Enterprise</a></li>
            <li><a class="link-secondary" href="#">Payroll Services</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <div style="font-size: 14px;
          font-weight: bold;">For Talent</div>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">How To Find Work</a></li>
            <li><a class="link-secondary" href="#">Directs Contracts</a></li>
            <li><a class="link-secondary" href="#">Find Freelance</a></li>
            <li><a class="link-secondary" href="#">Join In USA</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <div style="font-size: 14px;
          font-weight: bold;">Resources</div>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Help & Support</a></li>
            <li><a class="link-secondary" href="#">Success Stories</a></li>
            <li><a class="link-secondary" href="#">Upwork Reviews</a></li>
            <li><a class="link-secondary" href="#">Resources</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <div style="font-size: 14px;
          font-weight: bold;">Company</div>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">About Us</a></li>
            <li><a class="link-secondary" href="#">Leaderships</a></li>
            <li><a class="link-secondary" href="#">Investor Relations</a></li>
            <li><a class="link-secondary" href="#">Careers</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</div> -->

<div>
  <div class="challenge1">
    <div style="padding: 40px;">
      <div>
        <h1>Challenge 1</h1>
      </div>
      <div class="row">
        <div class="col-3">
          <mat-card class="example-card">
            <img mat-card-image src="../assets/gambar/gmbr2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <div>
                <h1 style="margin: 0;">
                  Top Winter Locations
                </h1>
                <mat-card-subtitle>More than 200 locations</mat-card-subtitle>
              </div>
            
              <div [ngClass]="{'limitTextHeight1': selengkapnya}">
                  THis is long text replaced w ith read more/less link example in Angular application paragraph text shown here continue continue THis is long text replaced w ith read more/less link example in Angular application paragraph text shown here continue link example in Angular application paragraph text shown here continue continue THis is long text 
                  THis is long text replaced w ith read more/less link example in Angular application paragraph text shown here continue continue THis is long text replaced w ith read more/less link example in Angular application paragraph text shown here continue link example in Angular application paragraph text shown here continue continue THis is long text 
                  
              </div>
              <div class="row">
                <div class="col-4">
                  <div style="display: flex;">
                    <button mat-button color="primary">SHARE</button>           
                    <button mat-button color="primary">EXPLORE</button>
                  </div>   
                </div>
                <div class="col-6" style="text-align: -webkit-right;
                margin-top: 5px;" >
                  <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font" type="button" (click)="showText1()">arrow_drop_down</mat-icon>
                </div>
              </div>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
          
        </div>
        <div class="col-3">
          <mat-card class="example-card">
            <img mat-card-image src="../assets/gambar/gmbr1.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <div>
                <h1 style="margin: 0;">
                  Top eastern road trips
                </h1>
                <mat-card-subtitle>2,000 miles of wonder</mat-card-subtitle>
              </div>
            
              <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div style="margin: 20px;">
    
              </div>
                  THis is long text replaced w ith read more/less link example in Angular application paragraph text shown here continue continue THis is long text replaced w ith read more/less link example in Angular application paragraph text shown here continue continue
                  
              </div>
              <div class="row">
                <div class="col-4">
                  <div style="display: flex;">
                    <button mat-button color="primary">SHARE</button>           
                    <button mat-button color="primary">EXPLORE</button>
                  </div>   
                </div>
                <div class="col-6" style="text-align: -webkit-right;
                margin-top: 5px;" >
                  <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font" type="button" (click)="showText()">arrow_drop_down</mat-icon>
                </div>
              </div>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
          
        </div>
        <div class="col-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Christy</mat-card-title>
              <mat-card-subtitle>20 mins.ago</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/gambar/gmbr2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <div>
                <h1 style="margin: 0;">
                  Kangarooo Valley Safari
                </h1>
                <mat-card-subtitle>Free on Thursdays</mat-card-subtitle>
              </div>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
    
        </div>
        <div class="col-3">
          <mat-card class="example-card">
            <img mat-card-image src="../assets/gambar/gmbr1.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <div class="row">
                <div class="col-6">
  
                </div>
                <div class="col-6">
                  <div class="row" style="padding: 10px;
                  margin-bottom: -25px;">
                    <div class="col-4">
                      <img mat-card-image src="../assets/gambar/icon4.png" alt="" style="max-width: 30px;">
                    </div>
                    <div class="col-4">
                      <img mat-card-image src="../assets/gambar/icon5.png" alt="" style="max-width: 30px;">
                    </div>
                    <div class="col-4">
                      <img mat-card-image src="../assets/gambar/icon3.png" alt="" style="max-width: 30px;">
                    </div>
                  </div>
                </div>
                
              </div>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
          
        </div>
      </div>
    </div>
  </div>
  <div class="challenge2">
    <div>
      <div style="padding: 40px;">
        <div>
          <h1>Challenge 2</h1>
        </div>
      </div>
      <div>
        <div style="background-color: #09134d; height: 100vh;">
          <div style="padding: 60px;">
            <div style="text-align: center; color: #fff; margin-top: 115px;" >
              <div style="font-size: 55px; margin-bottom: 40px;">
              
                  Simple Pricing!
                
              </div>
              <div>
                
                  <h2>The most advanced customer supoort tools with a simple <br>
                    and affordable pricing. And you can always try for 30 days. <br>
                     free!</h2>
                
              </div>
            </div>
          </div>
        </div>
        <div>
          <div style="padding: 250px;
          margin-top: -30%;">
            <div class="row" >
              <div class="col-4">
                <mat-card style="height: 380px;">
                  <div style="background-color: rgb(82, 86, 89); color: #fff; margin: -16px; padding: 20px;">
                    BASIC
                  </div>
                  <div style="margin: 20px;margin-top: 30px;padding: 30px;">
                   <div >
                    <div class="row" style="margin-left: 10px;">
                      <div>
                        <img mat-card-image src="../assets/gambar/icon6.png" alt="" style="max-width: 34px;">
                      </div>
                      <div style="font-size: 96px;padding: 15px;">
                       4
                      </div>
                      <div style="    margin-left: 55px;
                      margin-top: -7px;">
                       /month
                      </div>
                   </div>
                   </div>
                  </div>
                  <hr style="margin-top: -25px;">
                  <div>
                    10 Projects <br>
                    10 Pages <br>
                    100 Mb Disk Space
                  </div>
                  <div style="text-align: center;margin-top: 20px;">
                    <button mat-raised-button style="background-color: rgb(41, 120, 240);color: #fff;">BUY NOW</button>
                  </div>
                </mat-card>
              </div>
              <div class="col-4">
                <mat-card style="height: 380px;">
                  <div style="background-color: rgb(82, 86, 89); color: #fff; margin: -16px; padding: 20px; display: flex;">
                    <div class="col-6">
                      STANDARD
                    </div>
                    <div class="col-6" style="text-align: end;">
                      Save 15%
                    </div>
                  </div>
                  <div style="margin: 20px;margin-top: 30px;padding: 30px;">
                   <div >
                    <div class="row" style="margin-left: 10px;">
                      <div>
                        <img mat-card-image src="../assets/gambar/icon6.png" alt="" style="max-width: 34px;">
                      </div>
                      <div style="font-size: 96px; padding: 15px;">
                       8
                      </div>
                      <div style="    margin-left: 55px;
                      margin-top: -7px;">
                       /month
                      </div>
                   </div>
                   </div>
                  </div>
                  <hr style="margin-top: -25px;">
                  <div>
                    20 Projects <br>
                    20 Pages <br>
                    200 Mb Disk Space
                  </div>
                  <div style="text-align: center;margin-top: 20px;">
                    <button mat-raised-button style="background-color: rgb(41, 120, 240);color: #fff;" class="close" aria-label="Close" >BUY NOW</button>
                  </div>
                </mat-card>
              </div>
              <div class="col-4">
                <mat-card style="height: 380px;">
                  <div style="background-color: rgb(82, 86, 89); color: #fff; margin: -16px; padding: 20px;">
                    ADVANCED
                  </div>
                  <div style="margin: 20px;margin-top: 30px;padding: 30px;">
                   <div >
                    <div class="row">
                      <div>
                        <img mat-card-image src="../assets/gambar/icon6.png" alt="" style="max-width: 34px;">
                      </div>
                      <div style="font-size: 96px;padding: 15px;">
                       12
                      </div>
                      <div style="    margin-left: 115px;
                      margin-top: -7px;">
                       /month
                      </div>
                   </div>
                   </div>
                  </div>
                  <hr style="margin-top: -25px;">
                  <div>
                    40 Projects <br>
                    40 Pages <br>
                    500 Mb Disk Space
                  </div>
                  <div style="text-align: center;margin-top: 20px;">
                    <button mat-raised-button style="background-color: rgb(41, 120, 240);color: #fff;">BUY NOW</button>
                  </div>
                </mat-card>
              </div>
            </div>
            <div style="font-size: 32px;text-align: center; margin: 150px;">
              Frequently Asked Questions
            </div>
            <div class="row" style="margin: 50px;">
              <div class="col-6">
                <h2>
                  How does free trial work?
                </h2>
                <div>
                  Lorem ipsum dolar sit amet. consectetur adipiscing <br>
                  elit. Curabitur a diarn nec augue tincidunt <br>
                  accumsan. In dignissim laoreet ipsum eu interdum
                </div>
              </div>
              <div class="col-6">
                <div>
                  <h2>
                    Can I cancel any time?
                  </h2>
                </div>
                <div>
                  Lorem ipsum dolar sit amet. consectetur adipiscing <br>
                  elit. Curabitur a diarn nec augue tincidunt <br>
                  accumsan. In dignissim laoreet ipsum eu interdum
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="challenge3">
    <div style="padding: 40px;">
      <div>
        <h1>Challenge 3</h1>
      </div>
      <div>
        
        <div class="col-12">
          <mat-card class="example-card">
            <div style="padding: 20px; ">
              <div class="col-12">
                <div class="row">
                  <div class="col-6">
                      <div class="row">
                        <div style="display: flex;">
                            <div mat-card-avatar class="example-header-image2" style="margin-right:10px;width: 50px;
                            height: 50px;">
                            </div>
                            <div>
                            <mat-card-title>
                              <div style="display: flex;">
                                <div style="margin-right: 5px;color: rgb(41, 120, 240);">
                                  Garry Newman
                                </div>
                                <div >
                                  posted on your timeline
                                </div>
                              </div>
      
                            </mat-card-title>
                            <mat-card-subtitle>32 mins.ago</mat-card-subtitle>
                            </div>
                        </div>
                      </div>
                 </div>
                  <div class="col-6">
                    <div style="text-align: end;">
                      <img mat-card-image src="../assets/gambar/icon7.png" alt="" style="max-width: 30px; margin-top: 5px;">
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-top: 10px;">
                <h1> Remember the place we were talking about the other night?Found it! </h1>
              </div>
            </div>
            <img mat-card-image src="../assets/gambar/gmbr2.png" alt="Photo of a Shiba Inu" style="padding: 40px; margin-top: -35px;">
            <mat-card-content>
              <div style="padding: 40px;
              margin-top: -55px;">
                <div>
                   <div style="display: flex;">
                      <div style="margin-right: 35px; margin-top: 10px;">
                        <img mat-card-image src="../assets/gambar/icon4.png" alt="" style="max-width: 40px;">
                      </div>
                      <div style="margin-right: 35px;">
                        <h2>
                          Like(5)
                        </h2>
                      </div>
                      <div style="margin-right: 35px; margin-top: 10px;">
                      <img mat-card-image src="../assets/gambar/icon8.png" alt="" style="max-width: 40px;">
                      </div>
                      <div style="margin-right: 35px;">
                      <h2>
                        Share (21)
                      </h2>
                      </div>
                   </div>
                </div>
              </div>
              <div >
                <div class="row">
                  <div class="col-12">
                    <mat-expansion-panel style="background-color: rgb(210, 210, 210);">
                      <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight: bold;">
                          <h2 style="margin-top: 15px;">
                            1 comments
                          </h2>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div>
                        <div style="display: flex;">
                          <div mat-card-avatar class="example-header-image3" style="margin-right:10px;width: 50px;
                          height: 50px;">
                          </div>
                          <div>
                          <mat-card-title>
                            <div style="font-weight: 100;">
                              <div style="display: flex;font-weight: 100;">
                                <h2 style="margin-right: 5px;">
                                  Alice Freeman
                                </h2>
                                <h2 style="color: #9b9696;" >
                                  June 10,2018
                                </h2>
                              </div>
                              <h2 style="font-weight: 100;">
                                That's a wonderful place. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et eleifend ligula. <br>
                                Fusce posuere in sapien ac facilisis. Etiam sit amet justo non felis ornare feugiat.
                              </h2> 
                              <div>
                                <button mat-button style="color: rgb(41, 120, 240);">Reply</button>
                                <img mat-card-image src="../assets/gambar/icon9.png" alt="" style="max-width: 30px;margin: 20px;
                                margin-top: 10px;">
                              </div>
                            </div>   
                          </mat-card-title>
                          </div>
                        </div>
                        <div style="display: flex;">
                          <div mat-card-avatar class="example-header-image2" style="margin-right:10px;width: 50px;
                          height: 50px;">
                          </div>
                          <div>
                            <textarea name="" id="" cols="150" rows="5" placeholder="Add a comment....." style="border:none;"></textarea>
                          </div>
                        </div>
                        <div style="margin-top: 20px; margin-left:60px ;">
                          <button mat-raised-button style="background-color: rgb(41, 120, 240);color: #fff;">Post Comment</button>
                        </div>
                      </div>
                    </mat-expansion-panel>
                    
                    
                  </div>
                </div>
              </div>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
    
        </div>
      </div>
    </div>
  </div>
  <div class="challenge4">
    <div style="padding: 40px;">
      <div>
        <h1>Challenge 4</h1>
      </div>
      <div>
        
        <div class="col-12">
          <div style="text-align: end;">
            <button mat-raised-button style="margin: 15px; background-color: #09134d; color: #fff;">Reset</button>
            <button mat-raised-button style="background-color: rgb(218, 167, 15);" (click)="openDialog()">Add a Companny Staff</button>
          </div>
          <table class="table" >
            <thead>
              <tr>
                <th scope="col" style="text-align: center;">Name</th>
                <th scope="col" style="text-align: center;">User Type</th>
                <th scope="col" style="text-align: center;">Entity</th>
                <th scope="col" style="text-align: center;">Status</th>
                <th scope="col" style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center;">
                  <mat-form-field class="example-full-width" style="margin-top: 10px;">
                  <input matInput placeholder="Search" >
                  </mat-form-field>
                </td>
                <td style="text-align: center;">
                  <mat-form-field class="example-full-width" style="margin-top: 10px;">
                    <input matInput placeholder="Search">
                  </mat-form-field>
                </td>
                <td style="text-align: center;">
                  <mat-form-field appearance="fill">
                    <select matNativeControl required>
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                  </mat-form-field>
                </td>
                <td style="text-align: center;">
                  <mat-form-field appearance="fill">
                    <select matNativeControl required >
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                  </mat-form-field>
                </td>
                <td>
                  
                </td>
              </tr>
              <tr>
                 <td>
                   <h3>
                     HAMEAU sabrina mrs
                   </h3>
                 </td>
                 <td>
                   <div style="background-color: rgb(218, 167, 15);    max-width: 80px;
                   height: 30px; text-align: center;">
                     <h3>
                      Mentor
                     </h3>
                   </div>
                 </td>
                 <td>
                   <h3>
                     Company
                   </h3>
                 </td>
                 <td>
                   <div style="text-align: center;">
                    <img src="../assets/gambar/icon10.png" alt="" style="max-width: 30px;">
                   </div>
                 </td>
                 <td>
                   <div class="row">
                      <div class="col-2"></div>
                      <div class="col-8">
                        <div style="display: flex; margin-top: -10px;">
                          <img src="../assets/gambar/icon11.png" alt="" style="max-width: 30px; margin: 10px;">
                          <img src="../assets/gambar/icon12.png" alt="" style="max-width: 30px; margin: 10px;">
                          <img src="../assets/gambar/icon13.png" alt="" style="max-width: 30px; margin: 10px;">
                        </div>
                     </div>
                     <div class="col-2"></div>
                   </div>
                 </td>
              </tr>
              <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>